[submodule ".emacs.d/lisp/expand-region.el"]
	path = .emacs.d/lisp/expand-region.el
	url = https://github.com/magnars/expand-region.el
[submodule ".emacs.d/lisp/emacs-open-github-from-here"]
	path = .emacs.d/lisp/emacs-open-github-from-here
	url = git://github.com/shibayu36/emacs-open-github-from-here.git
